apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - ingress.yaml

labels:
  - pairs:
      app: gym-frontend
      project: gym-scheduler

commonAnnotations:
  managed-by: kustomize